<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
            />
            <!-- Google Fonts -->
            <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
            />
            <!-- MDB -->
            <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
            rel="stylesheet"
            />
            <!-- MDB -->
            <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
            ></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- Carousel wrapper -->
        <nav class="navbar sticky-top navbar-light bg-light p-3">
            <div class="container-fluid">
              <a href="" class="navbar-brand">
                <img src="{% static 'images/logo.jpg' %}" alt="" height="50">
              </a>
              <h1 class="display-6 pe-5">Demo</h1>
              <form class="d-flex">
                <a href="{% url 'generate' %}"" type="button" class="btn btn-dark btn-lg">Generate</a>
              </form>
            </div>
          </nav>
        <div
        id="carouselMultiItemExample"
        class="carousel slide text-center carousel-dark"
        data-mdb-ride="carousel"
        >
        <h1 class="h1 py-4">Layouts</h1>
        <!-- Controls -->
        <div class="d-flex justify-content-center mb-4">
            <button
            class="carousel-control-prev position-relative"
            type="button"
            data-mdb-target="#carouselMultiItemExample"
            data-mdb-slide="prev"
            >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button
            class="carousel-control-next position-relative"
            type="button"
            data-mdb-target="#carouselMultiItemExample"
            data-mdb-slide="next"
            >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Inner -->
        <div class="carousel-inner py-4">
            <!-- Single item -->
            <div class="carousel-item active">
            <div class="container">
                <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                    <img
                        src="{% static 'previews/fantasy_layout1.psd.png' %}"
                        class="card-img-top"
                        alt="..."
                    />
                    
                    </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                    <div class="card">
                    <img
                        src="{% static 'previews/fantasy_layout2.psd.png' %}"
                        class="card-img-top"
                        alt="..."
                    />
                    
                    </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                    <div class="card">
                    <img
                        src="{% static 'previews/fantasy_layout3.psd.png' %}"
                        class="card-img-top"
                        alt="..."
                    />
                    
                    </div>
                </div>
                </div>
            </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
            <div class="container">
                <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                    <img
                        src="{% static 'previews/fantasy_layout4.psd.png' %}"
                        class="card-img-top"
                        alt="..."
                    />
                    
                    </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                    <div class="card">
                    <img
                        src="{% static 'previews/fantasy_layout5.psd.png' %}"
                        class="card-img-top"
                        alt="..."
                    />
                    
                    </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                    <div class="card">
                    <img
                        src="{% static 'previews/fantasy_layout6.psd.png' %}"
                        class="card-img-top"
                        alt="..."
                    />
                    
                    </div>
                </div>
                </div>
            </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
            <div class="container">
                <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <div class="card">
                    <img
                        src="{% static 'previews/fantasy_layout7.psd.png' %}"
                        class="card-img-top"
                        alt="..."
                    />
                    
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                    <div class="card">
                    <img
                        src="{% static 'previews/fantasy_layout1.psd.png' %}"
                        class="card-img-top"
                        alt="..."
                    />
                    
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                    <div class="card">
                    <img
                        src="{% static 'previews/fantasy_layout8.psd.png' %}"
                        class="card-img-top"
                        alt="..."
                    />
                    
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Inner -->
        </div>
        <!-- Carousel wrapper -->
        <style>
            .bg-1 {
              background: #2d2d30;
              color: #bdbdbd;
              padding: 10px 10px;
            }
            .bg-1 h1 {color: rgb(204, 204, 204);}
        </style>

        <div class="bg-1">
            <h1 class="text-center my-5">Sample Outputs</h1>
        </div>
         <!-- Carousel wrapper -->
         <div
         id="carouselMultiItemExample2"
         class="carousel slide carousel-dark text-center bg-light"
         data-mdb-ride="carousel"
         >
         <h1 class="h1 py-4 bg-white shadow-1-strong my-5"> <img src="{% static 'logos/fantasy.png' %}" alt="" height="50"> </h1>
         <!-- Controls -->
         <div class="d-flex justify-content-center mb-4">
             <button
             class="carousel-control-prev position-relative"
             type="button"
             data-mdb-target="#carouselMultiItemExample2"
             data-mdb-slide="prev"
             >
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
             </button>
             <button
             class="carousel-control-next position-relative"
             type="button"
             data-mdb-target="#carouselMultiItemExample2"
             data-mdb-slide="next"
             >
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
             </button>
         </div>
         <!-- Inner -->
         <div class="carousel-inner py-4">
             <!-- Single item -->
             <div class="carousel-item active">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4">
                     <div class="card">
                     <img
                         src="{% static 'out/fantasy/0.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/fantasy/1.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/fantasy/2.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
 
             <!-- Single item -->
             <div class="carousel-item">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4 col-md-12">
                     <div class="card">
                     <img
                         src="{% static 'out/fantasy/3.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/fantasy/4.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/fantasy/5.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
 
             <!-- Single item -->
             <div class="carousel-item">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                     <div class="card">
                     <img
                         src="{% static 'out/fantasy/6.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/fantasy/7.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/fantasy/8.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
         </div>
         <!-- Inner -->
         </div>
         <!-- Carousel wrapper -->
         <div
         id="carouselMultiItemExample3"
         class="carousel slide carousel-dark text-center bg-light"
         data-mdb-ride="carousel"
         >
         <h1 class="h1 py-4 bg-white shadow-1-strong my-5"><img src="{% static 'logos/cutelady-fantasy.png' %}" alt="" height="50"></h1>
         <!-- Controls -->
         <div class="d-flex justify-content-center mb-4">
             <button
             class="carousel-control-prev position-relative"
             type="button"
             data-mdb-target="#carouselMultiItemExample3"
             data-mdb-slide="prev"
             >
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
             </button>
             <button
             class="carousel-control-next position-relative"
             type="button"
             data-mdb-target="#carouselMultiItemExample3"
             data-mdb-slide="next"
             >
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
             </button>
         </div>
         <!-- Inner -->
         <div class="carousel-inner py-4">
             <!-- Single item -->
             <div class="carousel-item active">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4">
                     <div class="card">
                     <img
                         src="{% static 'out/cutelady-fantasy/0.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/cutelady-fantasy/1.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/cutelady-fantasy/2.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
 
             <!-- Single item -->
             <div class="carousel-item">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4 col-md-12">
                     <div class="card">
                     <img
                         src="{% static 'out/cutelady-fantasy/3.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/cutelady-fantasy/4.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/cutelady-fantasy/5.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
 
             <!-- Single item -->
             <div class="carousel-item">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                     <div class="card">
                     <img
                         src="{% static 'out/cutelady-fantasy/6.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/cutelady-fantasy/7.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/cutelady-fantasy/8.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
         </div>
         <!-- Inner -->
         </div>
         <!-- Carousel wrapper -->
         <div
         id="carouselMultiItemExample4"
         class="carousel slide carousel-dark text-center bg-light"
         data-mdb-ride="carousel"
         >
         <h1 class="h1 py-4 bg-white shadow-1-strong my-5"><img src="{% static 'logos/nidha-fantasy.png' %}" alt="" height="50"></h1>
         <!-- Controls -->
         <div class="d-flex justify-content-center mb-4">
             <button
             class="carousel-control-prev position-relative"
             type="button"
             data-mdb-target="#carouselMultiItemExample4"
             data-mdb-slide="prev"
             >
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
             </button>
             <button
             class="carousel-control-next position-relative"
             type="button"
             data-mdb-target="#carouselMultiItemExample4"
             data-mdb-slide="next"
             >
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
             </button>
         </div>
         <!-- Inner -->
         <div class="carousel-inner py-4">
             <!-- Single item -->
             <div class="carousel-item active">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4">
                     <div class="card">
                     <img
                         src="{% static 'out/nidha-fantasy/0.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/nidha-fantasy/1.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/nidha-fantasy/2.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
 
             <!-- Single item -->
             <div class="carousel-item">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4 col-md-12">
                     <div class="card">
                     <img
                         src="{% static 'out/nidha-fantasy/3.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/nidha-fantasy/4.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/nidha-fantasy/5.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
 
             <!-- Single item -->
             <div class="carousel-item">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                     <div class="card">
                     <img
                         src="{% static 'out/nidha-fantasy/6.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/nidha-fantasy/7.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/nidha-fantasy/8.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
         </div>
         <!-- Inner -->
         </div>
         <!-- Carousel wrapper -->
         <div
         id="carouselMultiItemExample5"
         class="carousel slide carousel-dark text-center bg-light"
         data-mdb-ride="carousel"
         >
         <h1 class="h1 py-4 bg-white shadow-1-strong my-5"><img src="{% static 'logos/alhandam-fantasy.png' %}" alt="" height="50">
         </h1>
         <!-- Controls -->
         <div class="d-flex justify-content-center mb-4">
             <button
             class="carousel-control-prev position-relative"
             type="button"
             data-mdb-target="#carouselMultiItemExample5"
             data-mdb-slide="prev"
             >
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
             </button>
             <button
             class="carousel-control-next position-relative"
             type="button"
             data-mdb-target="#carouselMultiItemExample5"
             data-mdb-slide="next"
             >
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
             </button>
         </div>
         <!-- Inner -->
         <div class="carousel-inner py-4">
             <!-- Single item -->
             <div class="carousel-item active">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4">
                     <div class="card">
                     <img
                         src="{% static 'out/alhandam-fantasy/0.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/alhandam-fantasy/1.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/alhandam-fantasy/2.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
 
             <!-- Single item -->
             <div class="carousel-item">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4 col-md-12">
                     <div class="card">
                     <img
                         src="{% static 'out/alhandam-fantasy/3.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/alhandam-fantasy/4.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/alhandam-fantasy/5.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
 
             <!-- Single item -->
             <div class="carousel-item">
             <div class="container">
                 <div class="row">
                 <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                     <div class="card">
                     <img
                         src="{% static 'out/alhandam-fantasy/6.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/alhandam-fantasy/7.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
 
                 <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                     <div class="card">
                     <img
                         src="{% static 'out/alhandam-fantasy/8.png' %}"
                         class="card-img-top"
                         alt="..."
                     />
                     
                     </div>
                 </div>
                 </div>
             </div>
             </div>
         </div>
         <!-- Inner -->
         </div>
         <!-- Carousel wrapper -->
          <!-- Carousel wrapper -->
          <div
          id="carouselMultiItemExample6"
          class="carousel slide carousel-dark text-center bg-light"
          data-mdb-ride="carousel"
          >
          <h1 class="h1 py-4 bg-white shadow-1-strong my-5"><img src="{% static 'logos/jouda-fantasy.png' %}" alt="" height="50">
          </h1>
          <!-- Controls -->
          <div class="d-flex justify-content-center mb-4">
              <button
              class="carousel-control-prev position-relative"
              type="button"
              data-mdb-target="#carouselMultiItemExample6"
              data-mdb-slide="prev"
              >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
              </button>
              <button
              class="carousel-control-next position-relative"
              type="button"
              data-mdb-target="#carouselMultiItemExample6"
              data-mdb-slide="next"
              >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
              </button>
          </div>
          <!-- Inner -->
          <div class="carousel-inner py-4">
              <!-- Single item -->
              <div class="carousel-item active">
              <div class="container">
                  <div class="row">
                  <div class="col-lg-4">
                      <div class="card">
                      <img
                          src="{% static 'out/jouda-fantasy/0.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/jouda-fantasy/1.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                      </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/jouda-fantasy/2.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
                  </div>
              </div>
              </div>
  
              <!-- Single item -->
              <div class="carousel-item">
              <div class="container">
                  <div class="row">
                  <div class="col-lg-4 col-md-12">
                      <div class="card">
                      <img
                          src="{% static 'out/jouda-fantasy/3.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/jouda-fantasy/4.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/jouda-fantasy/5.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
                  </div>
              </div>
              </div>
  
              <!-- Single item -->
              <div class="carousel-item">
              <div class="container">
                  <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                      <div class="card">
                      <img
                          src="{% static 'out/jouda-fantasy/6.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/jouda-fantasy/7.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/jouda-fantasy/8.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
                  </div>
              </div>
              </div>
          </div>
          <!-- Inner -->
          </div>
          <!-- Carousel wrapper -->

          <!-- Carousel wrapper -->
          <div
          id="carouselMultiItemExample7"
          class="carousel slide carousel-dark text-center bg-light"
          data-mdb-ride="carousel"
          >
          <h1 class="h1 py-4 bg-white shadow-1-strong my-5"><img src="{% static 'logos/eastern-fantasy.png' %}" alt="" height="50">
          </h1>
          <!-- Controls -->
          <div class="d-flex justify-content-center mb-4">
              <button
              class="carousel-control-prev position-relative"
              type="button"
              data-mdb-target="#carouselMultiItemExample7"
              data-mdb-slide="prev"
              >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
              </button>
              <button
              class="carousel-control-next position-relative"
              type="button"
              data-mdb-target="#carouselMultiItemExample7"
              data-mdb-slide="next"
              >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
              </button>
          </div>
          <!-- Inner -->
          <div class="carousel-inner py-4">
              <!-- Single item -->
              <div class="carousel-item active">
              <div class="container">
                  <div class="row">
                  <div class="col-lg-4">
                      <div class="card">
                      <img
                          src="{% static 'out/eastern-fantasy/0.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/eastern-fantasy/1.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                      </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/eastern-fantasy/2.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
                  </div>
              </div>
              </div>
  
              <!-- Single item -->
              <div class="carousel-item">
              <div class="container">
                  <div class="row">
                  <div class="col-lg-4 col-md-12">
                      <div class="card">
                      <img
                          src="{% static 'out/eastern-fantasy/3.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/eastern-fantasy/4.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/eastern-fantasy/5.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
                  </div>
              </div>
              </div>
  
              <!-- Single item -->
              <div class="carousel-item">
              <div class="container">
                  <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                      <div class="card">
                      <img
                          src="{% static 'out/eastern-fantasy/6.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/eastern-fantasy/7.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
  
                  <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                      <div class="card">
                      <img
                          src="{% static 'out/eastern-fantasy/8.png' %}"
                          class="card-img-top"
                          alt="..."
                      />
                     
                      </div>
                  </div>
                  </div>
              </div>
              </div>
          </div>
          <!-- Inner -->
          </div>
          <!-- Carousel wrapper -->

          <div class="mb-5">
              
          </div>
        <script src="" async defer></script>
    </body>
</html>